/* HomePage */
body {
  background-color: white;
  padding: 0%;
  margin: 0px;
}

.container {
  position: relative;
  text-align: center;
}

.welcome {
  font-style: sans-serif;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 40px;
  margin-top: 9%;
  padding-top: 0%;
  padding-left: 5%;
  position: absolute;
  top: 8px;
  left: 16px;
}

.description {
  font-style: normal;
  font-size: 16px;
  margin-top: 12%;
  padding-top: 0%;
  padding-left: 5%;
  position: absolute;
  top: 8px;
  left: 16px;
  text-align: left;
  width: 30%;
}

/* Navigator */
.theta-mart-nav {
  margin-top: 0;
  padding-top: 0px;
  width: 100%;
  height: 60px;
  background-color: #fdf8f5;
}

.theta-mart-nav ul {
  margin-top: 0%;
  align-items: center;
  display: flex;
  font-family: sans-serif;
  font-size: 12px;
  height: 100%;
  letter-spacing: 0.2em;
  line-height: 24px;
  position: relative;
  text-transform: uppercase;
}

li {
  display: inline;
  text-align: center;
  padding: 14px 16px;
}

li a:hover {
  background-color: white;
}

legend {
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
}

.sub-table-style {
  font: #fff 14px;
  width: 500px;
  background: #ffffff;
  margin-left: 1%;
  border: none;
}

.sub-table-style td {
  margin-left: 1%;
  border: none;
}

.table-title {
  margin-left: 4%;
}

.table-title {
  text-transform: uppercase;
  font-weight: bold;
  color: #272343;
  background: #4f4846;
  font: #fff 15px;
  color: #ffffff;
  font-weight: 100;
  padding: 11px;
  margin: -12px -11px 25px -11px;
}

/* Main table style*/

.main-table {
  font-size: 16px;
  margin-left: 3%;
  margin-bottom: 3%;
  border-collapse: collapse;
  border-spacing: 0;
}

.main-table th,
td {
  padding: 10px 15px;
}

.main-table th {
  background: #266150;
  border-collapse: collapse;
  font: #fff 16px;
  color: #fff;
}

.main-table tr:nth-child(even) {
  background: #f0f0f2;
  border-collapse: collapse;
}

.main-table td {
  border-bottom: 1px solid #cecfd5;
}

.textbox-label {
  margin-top: 3%;
  margin-left: 3%;
  text-transform: uppercase;
  font-weight: bold;
  color: #272343;
}

.textbox {
  margin-left: 3%;
  left: 16px;
}

.customer-add {
  margin-left: 3%;
  left: 16px;
  margin-top: 2%;
}

.orderstatus-table {
  font-size: 16px;
  margin-left: 3%;
  margin-bottom: 3%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 3%;
}

.form-alignment {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.title {
  width: 500px;
  border: 1px solid gray;
  padding: 10px;
  margin-top: 10px;
  margin-left: 3%;
}

.title input[type="text"],
.title input[type="date"],
.title input[type="number"],
.title input[type="tel"],
.title select {
  padding-left: 8px 12px;
  width: 180px;
}

.title input[type="submit"],
.title input[type="reset"] {
  -moz-box-shadow: inset 0px 1px 0px 0px #45d6d6;
  -webkit-box-shadow: inset 0px 1px 0px 0px #45d6d6;
  box-shadow: inset 0px 1px 0px 0px #45d6d6;
  background-color: #2cbbbb;
  border: 1px solid #27a0a0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 14px;
  padding: 8px 18px;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 4%;
  margin-left: 3%;
}

.box {
  width: 170px;
}

.title-orderstatus {
  width: 700px;
  border: 1px solid gray;
  padding: 10px;
  margin-top: 10px;
  margin-left: 3%;
}

.title-orderstatus input[type="submit"],
.title-orderstatus input[type="reset"] {
  -moz-box-shadow: inset 0px 1px 0px 0px #45d6d6;
  -webkit-box-shadow: inset 0px 1px 0px 0px #45d6d6;
  box-shadow: inset 0px 1px 0px 0px #45d6d6;
  background-color: #2cbbbb;
  border: 1px solid #27a0a0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 14px;
  padding: 8px 18px;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 4%;
  margin-left: 3%;
}

.title-orderstatus input[type="text"] {
  padding-left: 8px 12px;
  width: 600px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}
