<!-- index.hbs -->

<nav class="theta-mart-nav">
  <ul>
    <li><a href="/#">Theta Mart</a></li>
    <li><a href="/customers">Customers</a></li>
    <li><a href="/drivers">Drivers</a></li>
    <li><a href="/orders">Orders</a></li>
    <li><a href="/orderProducts">Order Products</a></li>
    <li><a href="/products">Products</a></li>
    <li><a href="/orderStatuses">Order Statuses</a></li>
    <li><a href="/reload">Data Reload</a></li>
  </ul>
</nav>



  <div class="welcome">Welcome to Theta Mart!</div>
  <div class="description">
    <p>Theta Mart allows Customers to place Orders to have
      Products delivered by one of our Drivers from our store in Las
      Vegas within a 20-mile radius. The Theta Mart database records each order
      and tracks the order's OrderStatus from when it's placed to delivery. Theta Mart
      takes 3,000 orders per year. </p>
    <p>Site Functionality:
      <ul>
        <p>
          <b>Customers:</b>
          Our Customers who place orders.
          Can create, delete, search, and update existing customers. Customers who have existing orders cannot be deleted.</p>
        <p>
          <b>Drivers:</b>
          Drivers deliver Orders to Customers.
          Drivers can be created, updated, displayed, searched, or deleted.</p>

        <p>
          <b>Orders:</b>
          Orders placed by Customers.
          Allows an Order to be created, searched, displayed, updated, or deleted.</p>

        <p>
          <b>OrderProducts:</b>
          The products purchased for each order, including the price sold and quantity of each item. 
          OrderProducts can be dynamically searched, displayed, updated, created, or deleted.</p>

        <p><b>Products:</b>
          Products offered at our store. Can display our products, as well as search, update, create, and delete products.
          Products must not be associated with an order to be deleted.
        </p>
        <b>OrderStatuses:</b>
        Tracks the status of each Order.
        Allows retrieval, update, creation, and deletion of unique OrderStatuses. An OrderStatus can't be deleted if it's being used with an order.
      </ul></p>
  </div>
</div>

    <footer>
      <p>© 2022 Joseph Balaty, Xizhu Wang</p>
    </footer>
