<!-- main.hbs-->

<html>

  <head>
    <meta charset="utf-8" />
    <title>Theta Mart</title>
    <link rel="stylesheet" href="/css/index.css" />

  </head>

  <body>

    {{{body}}}

  </body>

</html>